body {
  background-image: url("../img/bgCopan.jpg");
  background-attachment: fixed;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', Calibri, sans-serif !important;
}

html {
  font-size: 3.5vw !important;
}

.header {
  background: rgb(82,70,86);
  text-align: center;
  margin-bottom: 1vw;
  padding: 1vw;
}

.header p {
  display: inline;
  color: white;
  font-size: 5vw;
  font-weight: 100;
  text-decoration: overline;
  text-transform: uppercase;
}

.header img {
  display: inline-block;
  max-height: 7vw;
}

.katun-widget {
  background: rgb(207,71,71);
  color: white;
  text-transform: uppercase;
}

input,
select {
  border: 2px solid rgb(207,71,71) !important;
}

.glyph-btn {
  font-size: 1.5vw;
  color: white;
  background: rgb(166,196,188);
}

.glyph-btn:hover {
  background: rgb(106,157,143) !important;
}

.glyph {
  max-height: 8vw;
}

@media only screen and (min-width: 700px) {
  html {
    font-size: 1.3vw !important;
  }

  .header {
    padding: 0.5vw;
  }
  
  .header img {
    max-height: 4vw;
  }

  .header p {
    font-size: 2.5vw;
  }

  .glyph {
    max-height: 5.7vw;
  }

  .bottom a {
    font-size: 2vw !important;
  }

  .menu-button img {
    max-height: 12vw;
  }

  .glyph-btn {
    font-size: 1.8vw;
  }
}